robot-env/
__pycache__/
*.py[cod]
*$py.class
.env

*.pt
*.onnx
*.onnx.json

*.wav
*.mp3
*.jpg
*.jpeg
*.png

robot-assistant/voices/
robot-assistant/data/
robot-assistant/models/
runs/

robot-assistant/logs/

Docs/
